.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

/* .status {
  margin-bottom: 10px;
} */

.square {
  background: #fff;
  border: 5px solid #000;
  float: center;
  font-family: 'comic sans MS';
  color: black;
  font-style: italic;
  font-size: 124px;
  font-weight: bold;
  line-height: 134px;
  height: 134px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 134px;
}

.blank {
  background: #fff;
  border: 5px solid #000;
  float: center;
  font-family: 'comic sans MS';
  color: white;
  font-style: italic;
  font-size: 124px;
  font-weight: bold;
  line-height: 134px;
  height: 134px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 134px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}
